{% extends 'form.html' %}
{% block javascript %}
    <script type="application/javascript">
        $(function () {
            $('form').on('submit', (e) => {
                e.preventDefault();
                var parameters = $('form').serializeArray();
                console.log(parameters)
                alert_jqueryconfirm(window.location.pathname, 'Guardar!', '¿Esta seguro de guardar este registro?', parameters, function () {
                    location.href = '{{ list_url }}';
                });
            });
        });
    </script>
{% endblock %}
