{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Opcion</th>
    </tr>
{% endblock %}
{% block rows %}
    {% for categoria in object_list %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.name }}</td>
            <td>
                <a href="{% url 'erp:category_update' categoria.id %}" type="button" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></a>
                <a href="{% url 'erp:category_delete' categoria.id %}" type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
