{% extends 'layout.html' %}

{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-trash fa-fw"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
            {% csrf_token %}
                <div class="alert alert-danger alert-dismissible">
                  <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    Esta seguro de eliminar el registro {{ object.id }}
                </div>

            </div>
            <div class="card-footer">
                <button type='submit' class="btn bg-warning color-palette" id="btnRegistro">
                    <i class="far fa-save"></i>Si, aceptar
                </button>
                <a href="{% url 'erp:category_list' %}" type='submit' class="btn btn-primary btn-flat">
                    <i class="far fa-save"></i>Cancelar
                </a>
            </div>
        </div>
    </form>
    <script>
        $('form').on('submit', function(e){
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                method: "POST",
                data: parameters,
                dataType: 'json'
            }).done(function (data){
                if(!data.hasOwnProperty('error')){
                    location.href = '{{ list_url }}';
                    return false;
                }
                document.getElementById('alert-message').style.display = 'block';
                document.getElementById('detail-error').innerHTML = alert_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown){
                alert(textStatus+': '+errorThrown);
            }).always(function (data){

            });
        });
    </script>
{% endblock %}