{% extends 'layout.html' %}

{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-trash fa-fw"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
            {% csrf_token %}
                <div class="alert alert-danger alert-dismissible">
                  <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    Esta seguro de eliminar el registro {{ object.id }}
                </div>

            </div>
            <div class="card-footer">
                <button type='submit' class="btn bg-warning color-palette" id="btnRegistro">
                    <i class="fas fa-trash"></i> Si, aceptar
                </button>
                <a href="{% url 'erp:category_list' %}" type='submit' class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    <script>
        $('form').on('submit', function(e){
            e.preventDefault();
            var parameters = $(this).serializeArray();
            alert_jqueryconfirm(window.location.pathname,'Eliminar!', '¿Esta seguro de eliminar el registro?', parameters, function () {
                location.href = '{{ list_url }}';
            });
        });
    </script>
{% endblock %}